doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name="description" content="Venit App")
  meta(name="title" property="og:title" content="Venit")
  meta(property="og:type" content="_")
  meta(
    name="image" 
    property="og:image" 
    content="https://www.flickr.com/photos/195202163@N06/shares/wra31k")
  meta(
    name="description" 
    property="og:description" 
    content="Venit App"
    )
    
  <meta name="author" content="Jason Lybrand" />
  link(rel='stylesheet', href='/stylesheets/venit.css')

  title= title

body

  block content
    if errorMessages && errorMessages.length > 0
      ul.flash
        each message in errorMessages
          li.error= message

  //- block signIn
  //- form(action="/users/signout" method="post")
  //-   fieldset.actions
  //-     p Signed in as #{username}.
  //-     button Sign Out        

  footer
    p(id='footer-text') Copyright SandlapperDev &copy; 2022
    a(id='footer-text' href="tel:+18005550199") 1-555-555-0199