extends layout 

block content
    
  form.search-form(method='POST', action='/search')
    if errorMessages && errorMessages.length > 0
      ul.flash
        each message in errorMessages
          li.error= message
    .search-form__row
      label(for='address') Your Business Address
      input(type="text" name="address" placeholder="ex: 123 Maple St" value=address)
    .search-form__row
      label#address(for="zipcode") Zipcode 
      input#zipcode(type="text" name="zipcode" placeholder="ex: 24765" value=zipcode)
    .search-form__row    
      label(for="radius") Search Radius
      input#radius(type="number" name="radius" placeholder="ex: 25" min='10' value=radius)
    .search-form__row
      label(for="sicCode") Business Type
      select(name="sicCode" placeholder="" value=sicCode)
        option(value="") Choose a Business Type
        option(value="802101") Dentists
        option(value="801101") Doctors
        option(value="599504") Opticians
        option(value="591205") Pharmacies
    .search-form__row
      button(type='submit') Find Referrals